*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.profile-pic{
    border-radius:150px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
   
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.buttons{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

li{
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin: 5px;
}