*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.profile-pic{
    border-radius:150px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
   
}

.space{
    padding-top: 32px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.search > img,div{
    margin: 20px;
}

.search-box{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border:1px solid lightgray;
    outline: none;
}

.icon{
    display: inline-block;
    width: 15px;
    height: 15px;
}

.buttons{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
}

.footer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 5px;
}

li{
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin: 5px;
}